.principal {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    height: calc(100vh - 60px); /* ocupa a tela inteira menos o menu (120px) */
    padding: 10px;
    background-color: #c7dbf4; /* azul claro */
  }
  
  .margem {
    margin-bottom: 20px;
  }
  
  .margem h1 {
    font-size: 80px;
    font-weight: bold;
    color: #000000;
  }
  
  .texto {
    font-size: 70px;
    color: #000000;
    margin: 0% 0;
    line-height: 1.;
    align-items: center;
  }
