.sec-form-medico {
    margin: auto 0;
}

.sec-form-medico h1 {
    text-align: center;
}

.form-medico {
    background: linear-gradient(135deg, var(--cor-secundaria) 0%, var(--cor-fundo) 80%);
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto auto;
    border-radius: 20px;
    padding: 2%;
}

.form-medico label {
    display: flex;
    flex-direction: column;
    margin: 1% 0;
    font-family: 'Poppins', sans-serif;
}

.form-medico input {
    margin-top: 0.5%;
    height: 3vh;
}

.form-medico input[type="submit"] {
    height: 5vh;
    border-radius: 8px;
    background-color: var(--cor-primaria);
    color: #FFFFFF;
    border: none;
    font-size: 1.15rem;
}